<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Table To Display Data</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>
  <tr>
    {% for d in user %}
    <td>{{d.name}}</td>
    <td>{{d.email}}</td>
    <td>{{d.phone}}</td>
    <td> <a href="/delete/{{user.id}}" class="btn btn-denger">Delete</a></td>
    <td> <a href="/update/{{user.id}}" class="btn btn-primary">Edit</a></td>
  </tr>
{% endfor %}
</table>

</body>
</html>